<div class="container" ng-controller="ScheduleCreationController">
    <form name="scheduleCreationForm">
        <div class="form-group">
            <label for="eventTitle">Title</label>
            <input type="text" class="form-control" id="eventTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="eventStartTime">Start Time</label>
            <input type="datetime" class="form-control" id="eventStartTime">
        </div>
        <div class="form-group">
            <label for="eventEndTime">Start Time</label>
            <input type="datetime" class="form-control" id="eventEndTime">
        </div>
    </form>
</div>
