<div ng-click="expand()" class="panel-body">
    <h5>{{event.title}}</h5>
    <div class="expandable" ng-class="{visible:expanded}">
        <h3>{{event.location}}</h3>
        <h3>{{event.start}}</h3>
        <h3>{{event.end}}</h3>
        <p>{{event.description}}</p>
        <p ng-if="event.tags">Tags: <a ng-repeat="tag in event.tags">{{ tag }} </a></p>
        <ul>
            <li ng-repeat="person in event.people">
                <h3>{{person.name}}</h3>

                <div>{{person.role}}</div>
                <div ng-if="person.contactDetails">
                    <div>Contact Details:</div>
                    <ul>
                        <li ng-repeat="detail in person.contactDetails"> {{detail.type}} - {{detail.value}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
