<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <h1>{{event.title}}</h1>
      <map location="event.location"></map>
      <!-- <span>{{event.endTime | date:'medium'}}</span> -->

      <h4>{{event.organiser}}</h4>
    </div>
  </div>
  <ul class="list-unstyled">
    <li class="esad-time" ng-repeat="time in timetable">
      <div class="row vertical-centre">
        <div class="col-md-1">
          <h4>{{time.time | date:'MMM d, h:mm a'}}</h4>
        </div>
        <div class="col-md-11 stream-container">
            <event-stream ng-repeat="stream in time.streams" name="stream" events="time.events" query="query" class="stream-box"></event-stream>
        </div>
      </div>
    </li>
  </ul>
  <error-view></error-view>
</div>
