<div ng-controller="SubEventController">
    <div ng-click="expand()" class="panel-body sub-event">
        <h5>{{subEvent.title | limitTo:70}}</h5>
        <ng-transclude></ng-transclude>
        <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
              <h3 class="modal-title">{{subEvent.title}}</h3>
          </div>
          <div class="modal-body">
              <h3>{{subEvent.location}}</h3>
            <div>{{subEvent.startTime | amDateFormat:'dddd, MMMM Do YYYY'}}</div>
            <div>{{subEvent.endTime | amDateFormat:'dddd, MMMM Do YYYY'}}</div>
              <p>{{subEvent.description}}</p>
              <p ng-if="subEvent.tags">Tags: <a ng-repeat="tag in subEvent.tags">{{ tag }} </a></p>
              <ul>
                  <li ng-repeat="person in subEvent.people">
                  <!-- TODO: Perhaps use a grid system to disaply this? -->
                  <div><strong>{{person.name}}</strong> - {{person.role}}<br><a ng-if="person.contactDetails" href="#" ng-click="saveContact(person)">Save Contact</a> </div>
                      <div ng-if="person.contactDetails">
                          <ul>
                              <li ng-repeat="detail in person.contactDetails">
                                <!-- TODO: Make this a filter.-->
                                <div ng-switch="detail.type">
                                  <a ng-switch-when="email" ng-href="mailto:{{detail.value}}">{{detail.value}}</a>
                                  <a ng-switch-when="phone" ng-href="tel:{{detail.value}}">{{detail.value}}</a>
                                  <a ng-switch-default>{{detail.value}}</a>
                                </div>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="modal-footer">
              <button class="btn btn-info" ng-click="save()">{{saveText}}</button>
              <button class="btn btn-primary" ng-click="ok()">Close</button>
          </div>
      </script>
  </div>
</div>
