<div class="container" ng-controller="PersonController">
  <div class="modal-header">
    <h3 class="modal-title">{{subEvent.title}}</h3>
  </div>
  <div class="modal-body">
    <h3>{{subEvent.location}}</h3>
    <h3>{{subEvent.startTime}}</h3>
    <h3>{{subEvent.endTime}}</h3>
    <p>{{subEvent.description}}</p>
    <p ng-if="subEvent.tags">Tags: <a ng-repeat="tag in subEvent.tags">{{ tag }} </a></p>
    <ul>
      <li ng-repeat="person in subEvent.people">
        <!-- TODO: Perhaps use a grid system to disaply this? -->
        <div><strong>{{person.name}}</strong> - {{person.role}}</div>
        <div ng-if="person.contactDetails">
          <ul>
            <li ng-repeat="detail in person.contactDetails">{{detail.value}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" ng-click="save()">Save to My Calendar</button>
    <button class="btn btn-primary" ng-click="ok()">Close</button>
  </div>
</div>