.panel-body{
  min-height: 120px;
  min-width:200px;
  border-top: 1px solid hsl(0,0%,60%);
  border-left: 1px solid hsl(0,0%,60%);
  border-right: 2px solid hsl(0,0%,50%);
  border-bottom: 2px solid hsl(0,0%,50%);
  border-radius: 3px;
  margin-bottom:3%;
  padding:10px;
  
}

.nav-span {
  display: block;
    position: relative;
    overflow: hidden;
    color: 777777;
    padding: 10px 15px;
    padding-top:15px;
    padding-bottom: 15px;
    line-height: 20px;
    background-color: transparent;
    list-style: outside none none;
}

.nav-search{
    display: block;
    position: relative;
    overflow: hidden;
    color: 777777;
    
    margin-top:5px;
    margin-bottom: 5px;
    line-height: 30px;
}

.nav-input{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
  
}


.esad-container{
  margin-left:auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.heading-container{
  margin-left:15%;
}

.expandable {
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
  transition: opacity 0.2s ease-in-out;
  overflow: hidden;
  display: block !important;
  max-height: 0;
  min-height: 0;
  opacity:0;
}

.expandable.visible {
  opacity:1;
  max-height: 1000px;
}

.mapWindow{
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
  transition: opacity 0.2s ease-in-out;
  overflow: hidden;
  max-height: 0;
  min-height: 0;
  opacity:0;
}

.mapWindow.visible {
  opacity:1;
  min-height: 400px;
}


.stream-container{
  /* basic styling */
  /* flexbox setup */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.stream-box {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  flex-basis: 0;
  flex-grow: 1;
  
  -webkit-transition: width 0.7s ease-out;
  transition: width 0.7s ease-out;
  margin:5px;
  text-align: center;
}

.vertical-centre{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.stream-time{
  float:left;
  width:15%;
}

.esad-time{
  border-bottom: 1px solid hsl(0,0%,50%);
}

.link-hover {
  cursor: pointer;
}

.link-plain {
  text-decoration: none;
  color: inherit;
}

.link-plain:hover {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
    width: 1300px;
  }
}
