<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Open Conference Format</title>
  <base href="/">

  <!-- Scrolls -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/4.2.1/jsoneditor.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Spells -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-animate.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/1.1.5/angular-file-upload.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-route.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-hotkeys/1.3.1/hotkeys.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.js"></script>
  <script type="text/javascript" src="bower_components/json-editor/dist/jsoneditor.js"></script>
  <script type="text/javascript" src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-json-editor/dist/angular-json-editor.js"></script>
  <script type="text/javascript" src="bower_components/tv4/tv4.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="bower_components/ngstorage/ngStorage.js"></script>
  <script type="text/javascript" src="assets/js/ics.deps.min.js"></script>
  <script type="text/javascript" src="assets/js/ics.min.js"></script>
  <script type="text/javascript" src="app/app.module.js"></script>
  <script type="text/javascript" src="app/components/openConferenceFormat/openConferenceFormat.js"></script>
  <script type="text/javascript" src="app/components/subEvent/subEventDirective.js"></script>
  <script type="text/javascript" src="app/components/errorView/errorViewDirective.js"></script>
  <script type="text/javascript" src="app/components/eventStream/eventStreamDirective.js"></script>
  <script type="text/javascript" src="app/components/map/mapDirective.js"></script>
  <script type="text/javascript" src="app/components/schedule/scheduleController.js"></script>
  <script type="text/javascript" src="app/components/scheduleCreation/scheduleCreationController.js"></script>
  <script type="text/javascript" src="app/components/dataImport/importPageController.js"></script>
  <script type="text/javascript" src="app/components/dataImport/openConfXML.js"></script>
  <script type="text/javascript" src="app/components/upload/fileUpload.js"></script>
  <script type="text/javascript" src="app/components/calendarGenerator/calendarGenerator.js"></script>
  <script type="text/javascript" src="app/components/listView/listViewController.js"></script>


</head>
<body ng-app="esad" ng-controller="EventController as eventApp">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Home Button -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Open Conference Format</a>
    </div>

    <div class="navbar-left navbar-collapse collapse" id="header-nav">
      <ul class="nav navbar-nav">
        <li>
          <span class="nav-span link-hover">Upload<input id="fileInput" class="nav-input" type="file"
                                                custom-on-change="onFileLoad" ng-model="filename"></span>
        </li>
        <li>
          <span class="nav-span"><a class="link-plain" href="/new">New</a></span>
        </li>
        <li>
          <span class="nav-span"><a class="link-plain" href="/import">Import</a></span>
        </li>
      </ul>
      </div>
    <div class="navbar-collapse collapse pull-right" id="header-nav-right">
      <ul class="nav navbar-nav">
        <li><span class="nav-span"><a class="link-plain" href="/">Grid</a></span></li>
        <li><span class="nav-span"><a class="link-plain" href="/list">List</a></li>
        <li><span class="nav-span"><a class="link-plain" href="#" ng-click="fuckShitUp()">Show My Schedule</a></span></li>
        <li><span class="nav-span" ng-click="makeICS()"><a class="link-plain" href="#">Export items to Calendar</a></span></li>
        <li>
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input class="nav-search" placeholder="Search" ng-model="query">
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
      <!-- angular templating -->
      <!-- this is where content will be injected -->
      <div ng-view></div>
    </div>
    
  </div>
</div>

</body>
</html>
